* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') repeat scroll 0 0 rgba(0, 0, 0 , 0);

body {
  background: #fff;
}

.title {
  font-size: 5.6rem;
  font-family: 'Lobster', cursive;
  margin-top: 50px;
}

.title:hover{
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.wrapper {
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
  color: #eee;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
}

@keyframes animation {
   100%{
    background-position:0px -1000px;
  }
}

#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;;

}

.container{
    width: 1000px;
    height: 600px;
}

.prev, .next {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.next i:hover{
    font-size: 50px;
}
.prev i:hover{
    font-size: 50px;
}


.prev i, .next i {
    cursor: pointer;
}

.carousel{
    width: calc(100% - 100px);
    height: 100%;
    float: left;
    position: relative;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;

}

.circles {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.circles i {
    color: white;
    margin: 0 10px;
    cursor: pointer;

}

.circles i.active{
    font-weight: bold;

}
