* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;;

}

.container{
    width: 1000px;
    height: 600px;
}

.prev, .next {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.prev i, .next i {
    cursor: pointer;
}

.carousel{
    width: calc(100% - 100px);
    height: 100%;
    float: left;
    position: relative;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.circles {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.circles i {
    color: white;
    margin: 0 10px;
    cursor: pointer;

}

.circles i.active{
    font-weight: bold;
}
